<h2>Suivi des demandes de service</h2>
<p><%= link_to 'Nouvelle demande', { :action => 'new', :id => @project[:id] } %></p>
<table>
  <tr>
    <th>Numérotation</th>
    <th>Référence de la demande</th>
    <th>Date de réception de la demande</th>
    <th>Date de prise en compte</th>
    <th>Date du statut final</th>
    <th>Statut de la demande</th>
    <th>Société</th>
    <th>BU</th>
    <th>Nom du projet</th>
    <th>Nom et Prénom du demandeur</th>
    <th>Fonction du demandeur</th>
    <th>Nom et Prénom du valideur</th>
    <th>Fonction du valideur</th>
    <th>Ressources DQI</th>
    <th>Domaine d'activité</th>
    <th>Offre de service</th>
    <th>Charge DQI</th>
    <th>Remarques</th>
  </tr>
  <% @suivi_demandes_service.each do |suivi| %>
  <tr>
    <td><%= suivi.id %></td>
    <td><%= suivi.ref_demande %></td>
    <td><%= suivi.dt_reception_demande %></td>
    <td><%= suivi.dt_analyse %></td>
    <td><%= suivi.dt_statut_final %></td>
    <td><%= suivi.statut_demande %></td>
    <td><%= suivi.societe %></td>
    <td><%= suivi.bu %></td>
    <td><%= suivi.nom_projet %></td>
    <td><%= suivi.nom_demandeur %></td>
    <td><%= suivi.fonction_demandeur %></td>
    <td><%= suivi.nom_valideur %></td>
    <td><%= suivi.fonction_valideur %></td>
    <td><%= suivi.ressource_dqi %></td>
    <td><%= suivi.activite %></td>
    <td><%= suivi.offre_service %></td>
    <td><%= suivi.charge %></td>
    <td><%= suivi.remarque %></td>
  </tr>
  <% end %>
</table>
