<%= form_for @suivi_demande, :url => {:action => "create"} do |f| %>
  <% if @suivi_demande.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@suivi_demande.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
    <% @suivi_demande.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <div class="field">
    <%= f.label "Votre fonction" %><br />
    <%= f.text_field :fonction_demandeur %>
  </div>
  <div class="field">
    <%= f.label "Référence de la demande" %><br />
    <%= f.text_field :ref_demande %>
  </div>
  <div class="field">
    <%= f.label "Nom de votre société" %><br />
    <%= f.text_field :societe %>
  </div>
  <div class="field">
    <%= f.label "Nom de votre BU" %><br />
    <%= f.text_field :bu %>
  </div>
  <div class="field">
    <%= f.label "Domaine d'activité" %><br />
    <%= f.select :activite, options_for_select(["AUB'ENERGY CMMI N2", "AUB'ENERGY CMMI N3", "SECURITE", "ASSURANCE QUALITE", "RAO", "SERVICE SPECIFIQUE"]) %>
  </div>
  <div class="field">
    <%= f.label "Offre de service" %><br />
    <%= f.select :offre_service, options_for_select(["AUDIT", "ETAT DES LIEUX", "FORMATION/SENSIBILATION", "DEPLOIEMENT/OUTILLAGE", "ACCOMPAGNEMENT"]) %>
  </div>
  <div class="field">
    <%= f.label "Remarque" %><br />
    <%= f.text_field :remarque %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
