<%= form_for @suivi_demande, :url => {:action => "create"} do |f| %>
  <% if @suivi_demande.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@suivi_demande.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
    <% @suivi_demande.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :ref_demande %><br />
    <%= f.text_field :ref_demande %>
  </div>
  <div class="field">
    <%= f.label :societe %><br />
    <%= f.text_field :societe %>
  </div>
  <div class="field">
    <%= f.label :bu %><br />
    <%= f.text_field :bu %>
  </div>
  <div class="field">
    <%= f.label :activite %><br />
    <%= f.select :activite, options_for_select(["AUB'ENERGY CMMI N2", "AUB'ENERGY CMMI N3", "SECURITE", "ASSURANCE QUALITE", "RAO", "SERVICE SPECIFIQUE"]) %>
  </div>
  <div class="field">
    <%= f.label :offre_service %><br />
    <%= f.text_field :offre_service %>
  </div>
  <div class="field">
    <%= f.label :charge %><br />
    <%= f.text_field :charge %>
  </div>
  <div class="field">
    <%= f.label :remarque %><br />
    <%= f.text_field :remarque %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
